html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
body article header {
    margin-bottom: 1em;

aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 25%;
    background-color:rgb(238,238,224);
}

article {
    box-sizing: border-box;
    float: right;  
    width: 75%;
    background-color:#faebd7;
    padding:0 0 0 1.5em
}
nav ol {
    list-style-type: none;
        
}

nav a {
    text-decoration: none;
      color:#242424
}

header nav li:first-child {
    border-left: solid 0.1em;
}

header nav li { 
    border-right: solid 0.1em;
    
}/*deze onderste doet het niet*/
header nav a {
    padding: 0 0.5em 0 0.5em;
}
header nav a:hover{ 
    background-color:#8C92AC;
    
}
article aside ov ol {
    width: 100%
    background-color #979AAA;
}

article aside nav a:hover{
    background-color:#666699;
    color: #EEEEE0;
}
    article aside nav ol li a {
        display: block;
        border-top: solid 0.1em;
    }
      article aside nav ol li a:last-child {
        display: block;
        border-bottom: solid 0.1em;
        border-left: solid 0.6em #979AAA;
        padding:0.2em 0 0.2em 0.4em;
    }
    